body {
  background-color: #989787;
  color: white;
  display: flex;
  justify-content: center;
}
button {
  border-radius: 10px;
  background-color: red;
  font-weight: bold;
  color: white;
  margin: 2px;
}
input {
  width: 25px;
}
.board {
  color: black;
  font-weight: bold;
  font-size: 20px;
}
.clue {
  float: left;
  width: 200px;
  background-color: black;
}
.score {
  float: right;
  width: 100px;
  color: black;
  font-weight: bold;
  background-color: white;
}
.message {
  color: black;
  font-weight: bold;
  background-color: white;
  margin: 1pc;
}
.title {
  width: 300px;
  color: red;
  font-weight: bold;
  background-color: yellow;
}
